
.navbar-container{
    display: flex;
    background-color: #ffffff;
}

.left-navbar{
    padding-right: 2000px;
    margin-left: 40px;
}

.right-navbar{
    padding-left: 1000px;
    margin-right: 100px;
}